version: "3.9"

services:

  spark:
    image: spark-ge
    container_name: spark
    volumes:
      - ./spark-apps:/opt/spark-apps
      - ./data:/data
    command: tail -f /dev/null

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  fastapi:
    build: .
    image: fastapi-app
    container_name: fastapi
    working_dir: /app
    volumes:
      - ./app:/app      
      - ./vector:/vector 
      - ./data:/data
    ports:
      - "8000:8000"
    depends_on:
      qdrant:
        condition: service_started
    
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  minio_data:
  qdrant_data: